<!-- <?xml version="1.0"?> -->

<launch>
	
	<!-- Start Gazebo with wg world running in (max) realtime -->
	<include file="$(find mav_controller)/worlds/normal.launch"/>

	<arg name="model"  default="$(find hector_quadrotor_description)/urdf/quadrotor.gazebo.xacro" />

	<arg name="avoid"  default="1" />
	<arg name="msize"  default="0.5" />
	<arg name="asize"  default="1.0" />
	<arg name="spread" default="1.0" />
	<arg name="stl"    default="normal" />
	<arg name="name1"  default="uav1" />
	<arg name="name2"  default="uav2" />
	<arg name="name3"  default="uav3" />

	<group ns="uav1">
		<include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
			<arg name="name" value="$(arg name1)" />
			<arg name="tf_prefix" value="$(arg name1)" />
			<arg name="model" value="$(arg model)" />
			<arg name="x" value="-$(arg asize)" />
			<arg name="y" value="$(arg asize)" />
		</include>		
		<node name="mav_ctrl_1" pkg="mav_controller" type="behaviour" output="screen"> 
			<param name="id" value="1"/>
			<param name="arenaside" value="$(arg asize)"/>
			<param name="mavsize" value="$(arg msize)"/>
			<param name="avoidance" value="$(arg avoid)"/>
			<param name="style" value="$(arg stl)"/>
		</node>
	</group>

	<group ns="uav2">
		<include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
			<arg name="name" value="$(arg name2)" />
			<arg name="tf_prefix" value="$(arg name2)" />
			<arg name="model" value="$(arg model)" />
			<arg name="x" value="0.4" />
			<arg name="y" value="1" />
		</include>
		<node name="mav_ctrl_2" pkg="mav_controller" type="behaviour" output="screen"> 
			<param name="id" value="2"/>
			<param name="arenaside" value="$(arg asize)"/>
			<param name="mavsize" value="$(arg msize)"/>
			<param name="avoidance" value="$(arg avoid)"/>
			<param name="style" value="$(arg stl)"/>
		</node>
	</group>

</launch>